<configuration>

    <!-- ADMIN LOG -->
    <appender name="ADMIN_FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/admin.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="adminLogger" level="INFO" additivity="false">
        <appender-ref ref="ADMIN_FILE"/>
    </logger>

    <!-- 🔥 PAYMENT AUDIT LOG -->
    <appender name="PAYMENT_AUDIT_FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/payment-audit.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} | %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="PAYMENT_AUDIT" level="INFO" additivity="false">
        <appender-ref ref="PAYMENT_AUDIT_FILE"/>
    </logger>

</configuration>